/* Layout.module.css */
.layout {
  display: grid;
  grid-template-columns: 20% 80%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.header {
  width: 100%;
  background-color: var(--background-color);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pageContent {
  padding: 2.4rem;
}