.header {
  background-color: var(background-color);
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
}

.header p {
  font-size: 1.8rem;
  color: var(--text-color);
  font-style: italic;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.user_icon {
  width: 2.4rem;
  height: 2.4rem;
}

.welcome {
  font-size: 2.4rem;
  color: var(--link);
}