.sideBar {
  background-color: var(--primary-color);
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  padding-left: 2.4rem;
  gap: 2.4rem;
}

.sidebar_header {
  font-size: 2.8rem;
  color: var(--background-color);
}

.dashboard_box {
  gap: 2.4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: all 0.1s ease-in;
}

.dashboard_box:hover {
  transform: scale(1.02);
}

.dashboard_icon {
  width: 36px;
  height: 36px;
}

h3 {
  color: var(--background-color);
  font-size: 1.8rem;
}

.sign_out {
  color: var(--button-color);
  background-color: var(--primary-color);
  width: 80%;
  border: 1px solid var(--button-color);
  padding: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

.sign_out:hover {
  background-color: var(--hover-color);
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
}

a {
  color: var(--orange-color);
  font-size: 1.2rem;
}

.github_icon {
  width: 1.6rem;
  height: 1.6rem;
}