/* Reset default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  background-color: var(--primary-color);
  height: 100vh;
  padding-top: 4rem;
}

.login_form {
  width: 44rem;
  max-width: 90%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  margin: 0 auto;
}

.logIn_icon {
  width: 1.6rem;
  height: 1.6rem;
}

.form {
  width: 100%;
}

.app_subheader {
  font-size: 1.6rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

span {
  font-size: 1.6rem;
  color: var(--orange-color);
  font-weight: 600;
}

button {
  width: 100%;
  font-weight: 600;
  border-radius: 1rem;
  border: none;
  padding: 2rem;
  font-size: 1.6rem;
  color: var(--button-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button:hover {
  transform: scaleX(1.03);
}

.inputWrapper,
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.email,
.user,
.name {
  width: 100%;
  font-style: italic;
  padding: 1.6rem 1.6rem 1.6rem 3.6rem;
  font-size: 1.6rem;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
  border: 2px solid var(--primary-color);
  color: var(--input);
  position: relative;
}

.email:focus,
.user:focus {
  border: 3px solid var(--primary-color);
  outline: none;
}

.eye_icon {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  right: 1.6rem;
  top: 40%;
  transform: translateY(-50%);
}

.error {
  color: var(--delete-hover-color);
  font-size: 1.6rem;
  font-style: italic;
}

.envelope,
.password,
.username {
  position: absolute;
  left: 1.2rem;
  top: 40%;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  z-index: 1;
}

.password_paraghrap {
  color: var(--orange-color);
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

.account {
  font-size: 1.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  margin-top: -1.6rem;
}

.sign_up {
  color: var(--link);
  font-size: 1.4rem;
}

@media (max-width:420px) {
  .login_form {
    width: 360px;
  }
}

@media (max-width:360px) {
  .login_form {
    width: 300px;
  }
}