:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  --primary-color: #000758;
  --hover-color: #000d9e;
  --secondary-color: #12f3e0;
  --background-color: #f4f4f4;
  --input: #808080;
  --border-color: #dfdfdf;
  --button-color: #ffff;
  --orange-color: #e67e22;
  --text-color: #020202;
  --delete-color: #c96464;
  --red-color: #e20707;
  --color-grin: #008000;
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
}